/*-------------Button-----------------*/
.button {
  display: inline-block;
  line-height: 1;
  font-weight: 700;
  font-size: 1.14rem; //16px
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 0 !important;
  @include transition-04;
  position: relative;
  outline: none !important;
  overflow: hidden;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform: perspective(1px) translate3d(0, 0, 0);
  transform: perspective(1px) translate3d(0, 0, 0);

  &--pink {
    padding: 12px 34px 15px 42px;
    background: url("#{$imgUrl}btn-pink.png") no-repeat center /100% 100%;
    color: #fff;
  }

  &--green {
    color: #fff;
    background: url("#{$imgUrl}btn-green.png") no-repeat center /100% 100%;
    padding: 18px 36px 17px 141px;
  }

  &--white {
    padding: 10px 22px 14px 23px;
    background: url("#{$imgUrl}btn-white.png") no-repeat center /100% 100%;
    color: $pinkColor;
  }

  &:hover,
  &:focus,
  &:active {
    transform: translate(1px, 2px) scale(0.96, 0.96) perspective(1px) translateZ(0);
  }

  @include respond-to(md) {
    &--pink {
      padding: 18px 36px 22px 47px;
    }

    &--green {
      padding: 19px 36px 16px 141px;
    }

    &--white {
      padding: 10px 21px 14px 24px;
    }
  }
}

