.section-social{
  padding-top: 66px;
  padding-bottom: 70px;

  @include respond-to(md){
    padding-top: 106px;
    padding-bottom: 55px;
  }
}

.section-social__row{
  display: flex;
  flex-direction: column;
  width: 100%;

  @include respond-to(md){
    flex-direction: row;
  }
}

.section-social__col{
  padding: 0;
  @include respond-to(md){
    &--sm{
      width: 30%;
      max-width: 30%;
    }
    &--lg{
      width: 70%;
      max-width: 70%;
    }
  }
}

.section-social__col-inner{
  margin: 0 -10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  @include respond-to(md){
    flex-wrap: nowrap;
    padding-top: 2px;
  }
}

.section-social__inner-title{
  margin-bottom: 31px;
  h3{
    line-height: 1;
  }
  a{
    color: $greenColor;
  }
}

.section-social__link{
  display: flex;
  overflow: hidden;
  img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    transition: 0.6s all ease-in-out;
    transform-origin: center;
    object-fit: cover;
  }

  @include on-event{
    img{
      transform: scale(1.1, 1.1);
    }
  }
}

.section-social__info{
  font-weight: 700;
  font-size: 1.29rem;
  margin-top: 87px;
  letter-spacing: -0.4px;
  a{
    text-decoration: underline;
    color: $textColor;

    @include on-event{
      color: $greenColor;
    }
  }

  @include respond-to(md){
    font-size: 2.22rem; // 31px;
  }
}
