/* Basic typography style for text*/

html {
  // This defines what 1 rem is
  font-size: $baseFontSizePixel;
}


h1, .h1 {
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
  text-transform: uppercase;
  @include respond-to(md) {
    font-size: 55px;
    line-height: 62px;
  }
}

h2, .h2 {
  font-size: 2.28rem; //32px
  font-weight: 700;
  line-height: 2.14rem; //30px
  text-transform: uppercase;
  letter-spacing: -0.5px;

  @include respond-to(md) {
    font-size: 3rem;
    line-height: 3rem; //42px
  }
}

h3, .h3 {
  font-size: 1.71rem; //24px
  font-weight: 700;
  line-height: 2.72rem;  //38.18px
  letter-spacing: -0.3px;

  @include respond-to(md) {
    font-size: 2.14rem; //30px
    line-height: 2.72rem;  //38.18px
  }
}

h4, .h4 {
  font-size: 1.5rem; //21px
  font-weight: 700;
  line-height: 1;
  @include respond-to(md) {
    font-size: 1.5rem; //21px
    line-height: 1;
  }
}

p {
  font-size: 1.14rem; //16px
  font-weight: 400;
  line-height: 1.85rem; //26px
  margin-bottom: 1.8rem;
  letter-spacing: 0.6px;

  &:last-of-type{
    margin-bottom: 0;
  }
  @include respond-to(md) {
    font-size: 1rem; //14px
    line-height: 1.75rem; //24px
  }
}
